.App {
  text-align: center;
  color: lightgreen;
}
.listContainer {
  display: flex;
  flex-direction: column;
}

.listText {
  color: dodgerblue;
  list-style-type: none;
  font-weight: bold;
  text-transform: uppercase;
}

.deleteButton {
  color: #fff;
  background-color: red;
  margin-left: 1em;
  border: none;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
.deleteButton:hover {
  background-color: darkred;
}
