.App {
  text-align: center;
  color: lightgreen;
}
.listContainer {
  display: flex;
  flex-direction: column;
}

.listText {
  color: dodgerblue;
}

.deleteButton {
  color: #fff;
  background-color: red;
  margin-left: 1em;
}
